@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.purple-gradient {
  background: radial-gradient(121.30% 121.30% at 50.43% -0.00%, #8571FF 0%, #9F2EB5 100%), rgba(0, 0, 0, 0.20);
}

.description {
  background: linear-gradient(180deg, #B9B9B9 0%, rgba(185, 185, 185, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}